[submodule "services/auth-api"]
	path = services/auth-api
	url = https://github.com/Pokedex-gamba/auth-api.git
[submodule "services/inventory-api"]
	path = services/inventory-api
	url = https://github.com/Pokedex-gamba/inventory-manager-api.git
[submodule "services/gamba-api"]
	path = services/gamba-api
	url = https://github.com/Pokedex-gamba/gamba-api.git
[submodule "services/trading-api"]
	path = services/trading-api
	url = https://github.com/Pokedex-gamba/trading-api.git
[submodule "services/money-manager-api"]
	path = services/money-manager-api
	url = https://github.com/Pokedex-gamba/money-manager-api.git
[submodule "services/user-info-api"]
	path = services/user-info-api
	url = https://github.com/Pokedex-gamba/user-info-api.git
[submodule "services/scheduled-jobs"]
	path = services/scheduled-jobs
	url = https://github.com/Pokedex-gamba/scheduled-jobs.git
[submodule "services/payment-gateway-api"]
	path = services/payment-gateway-api
	url = https://github.com/Pokedex-gamba/payment-gateway-api.git
